#free-thinking h4 {
  width: 140px;
}

#em-booking form input.em-booking-submit {
margin: 0 0 70px 200px;
}

.page-template-page-about-php a.btn
{
	width: 270px !important;
}

.tabbys .nav-tabs > li > a {
width: 131px;
}

.ignite-icons-wrapper a {
background: url(../img/ie-ignite.png) no-repeat;
}

#social-media {
	width: 160px;
	height: 36px;
}