/*
Project Name: Freedom Church - ifreedomchurchrb.com
*/

/*.......................global */
body
{
	background: url(../img/tile.png);
}

.wrapper
{
	width: 1200px;
	.center-block;
	background-color: @white;
	.box-shadow;
	overflow: hidden;
	
}

#page,
#event-description
{
	margin: 50px 0 115px 290px;
}

/* Vertical Navigation */
#navigation li.not-active a
{
	background-color: transparent;
	color: @gray;
	
	&:hover
	{
		color: @green;
		background-color: @white;
	}
}

#navigation-shadow
{
	.size(245px, 100%);
	margin-left: 0;
	position: fixed;
	z-index: 2;
	background: url(../img/menu-shadow2.png) top right no-repeat;
}

#navigation-gradient
{
	.size(230px, 100%);
	.gradient;
}

#navigation
{
	height:100%;
	margin-left: 0;
	position: fixed;
	z-index: 2;
	background: url(../img/tile.png);
	
	li a
	{
		padding: 5px 0 5px 70px;
		.oswald-book;
		font-size: 24px;
		line-height: 24px;
	}
	
}

a.brand
{
	.size(176px, 104px);
	margin: 30px auto 60px auto;
	display: block;
}

#social-media
{
	padding-left: 75px;
	position: absolute;
	bottom: 15px;
	
	a
	{
		margin-right: 5px;
	}
}

.logged-in #social-media
{
	bottom: 43px;
}

/* Color Overrided */
.black
{
	color: @black;
}

.gray
{
	color: @grayLighter;
}

.grayDark
{
	color: @grayDark;
}

/* Big Margin */
.big-bottom
{
	margin-bottom: 35px;
}

/* Page Header */
.page-header
{
	width: 1200px;
	background-color: @blue;
	
	h1
	{
		width: 670px;
		margin-left: 280px;
		
		a
		{
			color: @white;
			
			&:hover
			{
				text-decoration: none;
			}
		}
	}
}

/* Tabs */
.tabbys
{
	border-bottom: 1px solid @grayLight;
	
	.nav-tabs
	{
		border: none;
		margin-left: 230px;
	}
	
	.nav-tabs > li
	{
		margin-bottom: -29px;
	}
	
	.nav-tabs > li > a {
	width: 130px;
	.oswald-book;
	color: @gray;
	font-size: 18px;
	padding: 12px 15px 21px 50px;
	line-height: 18px;
	border: none;
	
		&:hover
		{
			background-color: transparent;
			color: @green;
			border: none;
			border-radius: 0;
		}
	}
	
	.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
	color: @green;
	background: url(../img/tab-bg.png) transparent;
	border: none;
	border-bottom-color: transparent;
	cursor: default;
	margin-right: 0;
	}
}

/* Hero Unit */
.hero-home,
.hero-ignite,
.hero-where
{
	width: 1200px;
	position: relative;
	left: -115px;
}

.hero-content
{
	width: 670px;
	margin-left: 405px;
}

/*......................home page*/
.hero-home
{
	height: 717px;
	background: url(../img/home-ph.jpg) no-repeat;
}

/* Church Info */
#church-info
{
	height: 542px;
	
	.related-info
	{
		width: 243px;
		float: left;
	}
}

.service-info
{
	margin-left: 0;
	.istok;
	color: @black;
	
	h2
	{
		.oswald-book;
		color: @blueDark;
	}
}

.info-title
{
	margin: 15px 0 5px 0;
	font-size: 24px;
	color: @blue;
}

.sub-title
{
	font-size: 18px;
	line-height: 30px;
}

.related-info
{
	font-size: 14px;
	
	a img
	{
		display: inline-block;
		float: right;
		position: relative;
		top: -6px;
	}
}

/* Info Box */
.info-box
{
	height: 315px;
	.gradient;
	position: relative;
	display: none;
}

.info-box-content
{
	height: 315px;
	background: url(../img/tile.png);
}

a.visting
{
	margin-top: 20px;
}

/* Maps */
.see-map
{
	padding: 45px 20px;
	
	a
	{
		display: block;
		margin-top: 15px;
		font-family: @sansFontFamily;
		color: @greenLight;
	}
}

a.see-map-icon,
a.get-directions-icon
{
	.square(26px);
	display: block;
	float: left;
	position: relative;
	top: -5px;
}

a.see-map-icon
{
	background: url(../img/see-map.png) no-repeat;
}

a.get-directions-icon
{
	background: url(../img/get-directions.png) no-repeat;
}

.map
{
	border: solid 10px @white;
}

.visiting-info
{
	padding: 20px 30px;
	
	p
	{
		.istok;
		font-size: 12px;
	}
	
	p.sudo-title
	{
		font-size: 24px;
		color: @greenLight;
		line-height: 30px;
	}
}

.close-box
{
	position: absolute;
	top: 5px;
	right: 7px;
	
	a
	{
		color: @greenLight;
		
		&:hover
		{
			text-decoration: none;
		}
	}
}

/* News Feed & Ignite Promo */
#news-feed
{
	width: 685px;
	height: 175px;
	float: left;
	background-color: @blue;
	font-family: @sansFontFamily;
	color: @grayLighter;
	
	a
	{
		color: @white;
	}
	
	h4
	{
		margin-bottom: 20px;
	}
	
	span
	{
		.istok;
		font-size: 16px;
		color: @black;
	}
}

#news-feed-content
{
	width: 205px;
	padding: 35px 70px 40px 0;
	float: right;
}

#promote
{
	width: 515px;
	height: 175px;
	float: left;
	background: url(../img/ignite-bg-small.jpg) no-repeat;
	
	a
	{
		display: block;
		margin: 25px 0 0 65px;
	}
	
	h4.promote
	{
		margin: 15px 0 0 65px;
	}
}

/*......................events listing*/
#events
{
	margin-bottom: 30px;
	
	.event
	{
		margin: 20px 0;
	}
	
	p
	{
		.istok;
		font-size: 12px;
		color: @gray;
	}
	
	.event-image
	{
		margin-left: 0;
		
		img
		{
			border: 6px solid @blue
		}
		
	}
	
	.sub-title
	{
		margin-top: 5px;
		color: @black;
	}
	
	.related-info
	{
		margin-bottom: 15px;
		color: @grayDark;
	}
}

.single-event-image
{
	img
	{
		position: relative;
		left: -50px;
	}
}

/* Single Events */
.single-event-block
{	
	a.btn
	{
		margin-right: 10px;
	}
}

.add-info
{
	color: @grayDark;
	font-weight: 100;
	
	span
	{
		font-weight: bold;
		font-size: 14px;
	}
}

.single-event-venue
{
	color: @grayDark;
	font-weight: 100;
	
	span.single-venue
	{
		font-size: 14px;
	}
}

.additional-info
{
	margin-bottom: 40px;
	
	h3
	{
		font-size: 18px;
	}
}

img.single-event-image
{
	margin-top: -132px;
	display: block;
	float: right;
	position: relative;
	right: -125px;
	top: 540px;
}

#event-description
{
	padding-top: 150px;
	color: @grayDark;
}

#event-registration
{
	p
	{
		margin-top: 20px;
		.istok;
		font-size: 16px;
		color: @blue;
	}
}
.em-location-map
{
	width: 350px !important;
	height: 255px !important;
}

div.em-booking-message {
margin: 10px 0px 50px 0 !important;
}

#em-booking
{
	background-color: @grayLight;
	
	form
	{
		background: transparent;
		
		table
		{
			width: 100%;
			
			td
			{
				font-weight: bold;
				
				span.ticket-desc
				{
					font-weight: normal;
				}
			}
			
			th
			{
				text-align: left;
				padding-bottom: 10px;
			}
			
			select
			{
				width: 50px;
			}
		}
		
		input.em-booking-submit
		{
			margin: 0 0 70px 210px;
			text-transform: uppercase;
		}
	}
}

#reg-disclaimer
{
	position: relative;
	top: -70px;
	left: 40px;
}

/*......................free thinging box */
#free-thinking
{
	margin: 40px 0 0 0;
	float: none;
	font-size: 14px;
	
	p
	{
		font-size: 14px;
		color: @grayDark;
	}
	
	h4
	{
		width: 127px;
		padding-bottom: 20px;
		margin: 0 auto 15px auto;
		background: url(../img/sb-arrow.png) 60px 27px no-repeat;
		overflow: visible;
		
		span
		{
			padding: 8px 15px;
			background-color: @blue;
			.border-radius(10px);
		}
		
		a
		{
			/*padding: 12px 15px;*/
			color: @white;
			display: block;
		}
	}
}

#ft-content
{
	border: solid 3px @blue;
	.border-radius(15px);
	
	p
	{
		margin: 0;
		padding: 35px 70px 35px;
		font-family: @serifFontFamily;
		font-style: italic;
		
		cite
		{
			margin-top: 10px;
			display: block;
			text-align: right;
			.oswald-book;
			font-size: 12px;
			color: @blue;
			text-transform: uppercase;
		}
	}
	
}

/*.........................the footer*/

footer
{
	width: 100%;
	height:75px;
	background-color: @grayLight;
	position: fixed;
	z-index: 1;
	bottom: 0;
}

#ticker-container
{
	/*line-height: 75px;*/
	padding-left: 245px;
	
	.testimonies-title
	{
		margin-right: 15px;
		padding-top: 30px;
		float: left;
		.oswald-book;
		font-size: 18px;
		
		a
		{
			color: @grayLighter;
			
			&:hover
			{
				color: @blue;
				text-decoration: none;
			}
		}
	}
}

/*..........................About page*/
.leader
{
	margin-top: 25px;
	padding: 50px 0;
	border-top: 1px solid @grayLight;
	
	img
	{
		margin-right: 50px;
		display: block;
		float: left;
		border: 4px solid @blue;
	}
	
	.bio
	{
		width: 340px;
		float: left;
		
		p:first-child
		{
			color: @black;
		}
	}
}

.sof-infographic
{
	img
	{
		display: block;
		float: left;
		margin: 0;
		padding: 0;
	}
}

/*..........................Giving page*/
#one-time-donations
{
	height: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	
	a.btn
	{
		margin-right: 10px;
	}
}

.feature-box
{
	height: 130px;
	margin-bottom: 40px;
	border-top: 1px solid @grayLight;
	border-bottom: 1px solid @grayLight;
	
	.feature-box-info
	{
		padding: 15px 0 0 10px;
		
	}
}

#monthly-parnter
{
	height: 40px;
	margin-bottom: 40px;
	
	a.btn
	{
		margin-right: 10px;
	}
}

.paypal-notice
{
	position: relative;
	top: 3px;
	.oswald-book;
	font-size: 14px;
	text-transform: uppercase;
}

/*......................gallery */
.gallery
{
	.gallery-item
	{
		width: 190px;
		height: 190px;
		margin-right: 15px;
		text-align: left;
		overflow: hidden;
	}
	
	.gallery-icon
	{
		position: relative;
	}
	
	img
	{
		border: none !important;
		.scale(1.2);
		
		
		&:hover
		{
			.scale(1);
		}
	}
}

#jquery-overlay
{
	background-color: @grayLight !important;
	background-image: url(../img/tile.gif) !important;
}

#lightbox-image-details
{
	padding-top: 10px;
}

.imagecaption
{
	padding-top: 10px;
	.istok;
	font-size: 14px;
}

#lightbox-container-image-box
{
	.border-radius(5px);
}

#lightbox-image-details-currentNumber
{
	display: none !important;
}

#lightbox-container-image-data-box 
{
	background: transparent !important;
}

#lightbox-nav-btnNext 
{
	background: url(../img/next-photo.png) 100% 50% no-repeat !important;
	display: block;
	height: 704px;
	background-position: 100% 50% !important;
	background-repeat: no-repeat no-repeat;
	position: relative !important;
	right: 25px !important;
}

#lightbox-nav-btnPrev
{
	background: url(../img/prev-photo.png) 0% 50% no-repeat !important;
	display: block;
	height: 704px;
	background-position: 0% 50% !important;
	background-repeat: no-repeat no-repeat;
	position: relative !important;
	left: 25px !important;
}

/*.....................friends page */
.friends
{
	margin-bottom: 15px;
	
	img
	{
		border: 1px solid @grayLight;
		
		&:hover
		{
			.opacity(80);
			.transition(opacity 0.5s ease);
		}
	}
}

/*.....................ignite page */
.hero-ignite
{
	height: 730px;
	padding-top: 20px;
	background: url(../img/ignite-bg.jpg) no-repeat;
	
	p
	{
		.istok;
		font-size: 14px;
		color: @blue;
	}
	
	h4.promote
	{
		margin-left: 60px;
		position: relative;
		top: -10px;
	}
}

.ignite-copy
{
	height: 193px;
	margin-bottom: 5px;
	vertical-align: middle;
	background: url(../img/dotted-line.png) no-repeat top left;
	
	.entry-content
	{
		display: table;
		height: 193px;
		
		p
		{
			display: table-cell;
			vertical-align: middle;
		}
		
	}
}

.ignite-icons-wrapper
{
	height: 270px;
	background: url(../img/dotted-line.png) repeat-y bottom left;
	
	.ignite-icons
	{
		height: 61px;
		margin-bottom: 30px;
		position: relative;
		left: -30px;
	}
	
	img
	{
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	
	a
	{
		width: 60px;
		height: 60px;
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

.ignite-connect-wrapper
{
	height: 40px;
	margin-left: 212px;
	padding: 20px 0 20px 10px;
	background-color: @white;
	background-color: rgba(255, 255, 255, 0.3);
}

.ignite-connect
{

	img
	{
		margin-right: 10px;
		display: block;
		float: left;
	}
	
	div.deets,
	div.deets-link
	{
		.istok;
		font-size: 14px;
		color: @black;
	}
}

/*.......................where page */
.hero-where
{
	height: 350px;
	background: url(../img/when-bg.jpg) no-repeat;
	
	h1,
	p
	{
		color: @white;
	}
	
	h1
	{
		padding-top: 45px;
	}
	
	p
	{
		margin: 15px 0;
		font-size: 18px;
	}
}

.when-info
{
	.istok;
	font-size: 14px;
	margin-left: 5px;
	background: url(../img/tree.png) no-repeat bottom right;
	
	p,
	ul,
	a,
	li
	{
		.istok;
		font-size: 14px;
	}
}

/*.....................contact page */
.contact-details
{
	margin-bottom: 25px;
	
	a
	{
		font-size: 14px;
		font-weight: 100;
	}
	
	h2
	{
		margin-bottom: 25px;
	}
}
.big-number
{
	margin-bottom: 40px;
	font-size: 30px;
	font-weight: 100;
	color: @blue;
}

.contact-name
{
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
	color: @grayDark
}

.contact-form
{
	p
	{
		margin-bottom: 20px;
		.istok;
		font-size: 18px;
		color: @blue;
	}
}

/*......................forms */
form
{
	padding: 40px;
	background-color: @grayLight;
	
	label
	{
		width: 70px;
		line-height: 28px;
		display: block;
		float: left;
		font-family: @sansFontFamily;
	}
	
	input[type="submit"]
	{
		margin-left: 335px;
		color: @green;
		
		&:hover
		{
			color: @green;
		}
	}
}

.wpcf7
{
	p
	{
		margin: 0;
	}
	
	br
	{
		display: none;
	}
}

form#searchform
{
	padding: 40px 0 0 0;
	background-color: transparent;
}

/* Mailchimp */
form#mc-embedded-subscribe-form
{
	background-color: transparent;
	padding: 0;
	
	input[type="email"] {
	  width: 280px;
		height: 15px;
		.istok;
		font-size: 14px;
		border: 1px solid @gray;
		border-right: none;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-top-left-radius: 5px;
		-moz-border-bottom-left-radius: 5px;
		-o-border-top-left-radius: 5px;
		-o-border-bottom-left-radius: 5px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		color: @black !important;
		padding: 10px;
		outline: none;
	}
	input[type="submit"] {
	  height: 37px;
	  width: 85px;
	  .istok;
	font-size: 14px;
	  border: @blue;
	  border-left: none;
	  -webkit-border-top-right-radius: 5px;
	  -webkit-border-bottom-right-radius: 5px;
	  -webkit-border-top-left-radius: 0;
	  -webkit-border-bottom-left-radius: 0;
	
	-moz-border-top-right-radius: 5px;
	  -moz-border-bottom-right-radius: 5px;
	  -moz-border-top-left-radius: 0;
	  -moz-border-bottom-left-radius: 0;
	
	-o-border-top-right-radius: 5px;
	  -o-border-bottom-right-radius: 5px;
	  -o-border-top-left-radius: 0;
	  -o-border-bottom-left-radius: 0;
	
	border-top-right-radius: 5px;
	  border-bottom-right-radius: 5px;
	  border-top-left-radius: 0;
	 border-bottom-left-radius: 0;
	  margin-left: -2px;
	  background: @blue;
	  color: @white;
	}
}

/*......................testimonies ticker */
.tickercontainer { /* the outer div with the black border */
.size(590px, 38px);
margin: 20px 0 0 0; 
padding: 0;
overflow: hidden;
float: left;
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
position: relative;
width: 100%;
overflow: hidden;
}
ul.newsticker { /* that's your list */
position: relative;
left: 550px;
list-style-type: none;
margin: 0;
padding: 0;

}
ul.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding: 0;
.istok;
font-size: 14px;
color: @grayDark;

	img
	{
		margin: 0 8px;
	}
}
ul.newsticker a {
white-space: nowrap;
padding: 0;
} 
ul.newsticker span {
margin: 0 10px 0 0;
}

/*.......................images */
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}

/*.......................posts */
.entry-meta {
	margin-bottom: 10px;
	.istok;
	font-size: 14px;
}

.entry-utility {
	clear: both;
	margin-bottom: 10px;
	padding-bottom: 10px;
	.oswald-book;
	text-transform: lowercase;
	font-size: 14px;
	border-bottom: 1px solid @grayLight;
}

/*.......................print styles */
@media print {
	
	  footer,
	  #social-media {
		display: none;
	}
}
